<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vapestore.vaperetailer"
    android:versionCode="14"
    android:versionName="1.0.14">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />


    <application
        android:name=".ApplicationData"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"

            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <receiver android:name=".RebootCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <activity
            android:name=".Vaping101Activity"

            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PromotionActivity"

            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CompatibilityChartActivity"

            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ProductActivity"

            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SubProductActivity"

            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SubProductDetailActivity"

            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LoginActivity"

            android:noHistory="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendToPhoneActivity"

            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".SendToEmailActivity"

            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".VersionControlReceiver" />

        <service
            android:name=".KioskService"
            android:exported="false">

        </service>
        <activity
            android:name=".PasswordActivity"

            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service android:name=".service.MainActivity_LockscreenService"/>
        <service android:name=".service.SubProducts_LockscreenService"/>
        <service android:name=".service.SubProductDetail_LockScreenService"/>

        <service android:name=".service.Products_LockscreenViewService"/>
        <service android:name=".service.MainActivity_LockscreenViewService"/>
        <service android:name=".service.SubProducts_LockscreenViewService"/>
        <service android:name=".service.Vaping101_LockscreenViewService"/>
        <service android:name=".service.SubProductDetail_LockScreenViewService"/>
        <service android:name=".service.PromotionActivity_LockscreenViewService"/>
        <service android:name=".service.CompatibilityChart_LockscreenViewService"/>
        <service android:name=".service.Password_LockscreenViewService" />
        <service android:name=".service.SendtoEmail_LockscreenViewService"/>
        <service android:name=".service.SendtoPhone_LockscreenViewService"/>
    </application>

</manifest>
